body {
  font-family: "Poppins", sans-serif;
}

/* APP BODY */

.app {
  background: lightgrey;
  max-width: 650px;
  margin: 100px auto;
  padding: 30px;
  box-shadow: 0 15px 30px rgba(19, 19, 20, 0.5);
  border-radius: 10px;
}

/* HEADER WITH SEARCH FORM */

header {
  border-bottom: 1px solid white;
  padding-bottom: 30px;
}

.search-form-input {
  padding: 20px;
  border: none;
  width: 75%;
  border-radius: 6px;
  background-color: white;
  padding: 15px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 15px 30px rgba(120, 120, 125, 0.5);
}

.search-form-button {
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 6px;
  width: 24%;
  padding: 15px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  box-shadow: 0 15px 30px rgba(120, 120, 125, 0.5);
}

/* TEMPERATURE AND ICON */

.temperature-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.temperature-display {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.temperature-value {
  font-size: 100px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.temperature-icon {
  display: block;
  width: 150px;
  height: auto;
  padding: 0;
  margin: 0;
  border: none;
  object-fit: contain;
  margin-right: -30px;
  transform: scale(1.1);
}

.temperature-unit {
  font-size: 50px;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
}

/* CITY, TIME, AND DATA SECTION */

.date-weather {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.date-weather .left-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.date-weather .left-column .city {
  font-size: 40px;
}

.date-weather .right-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.humidity i {
  color: blue;
}

.wind-speed i {
  color: darkgoldenrod;
}

.weather-description i {
  color: purple;
}

/* DAYS CURRENTLY HIDDEN */

.days {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temperature-conditions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FOOTER */

footer {
  color: rgba(39, 33, 66, 0.4);
  text-align: center;
  border-top: 1px solid white;
  padding-top: 20px;
}

.cherry-logo {
  display: inline-flex;
  align-items: center;
  margin: 0 5px;
}

.cherry {
  width: 25px;
  height: auto;
  display: block;
}
