body {
  font-family: "Poppins", sans-serif;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
  text-align: center;
}

.cherry-logo {
  display: inline-flex;
  align-items: center;
  margin: 0 5px;
}

.cherry {
  width: 25px;
  height: auto;
  display: block;
}

.app {
  background: lightgrey;
  max-width: 650px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(39, 33, 66, 0.4);
  border-radius: 10px;
}
